
<div class="row justify-content-center">
    <div class="col-md-9 col-lg-12 col-xl-10">
        <div class="card shadow-lg o-hidden border-0 my-5">

            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-flex">
                        <div class="flex-grow-1 bg-login-image" style="background-image: url(&quot;assets/img/dogs/image3.jpeg&quot;);"></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h4 class="text-dark mb-4">Welcome  Back!</h4>
                            </div>
                            <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="incorrectLogin">
                                    username or password incorrect
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                            </div>
                            
                            <form #form="ngForm" class="user" >
                                <div class="form-group"><input required class="form-control form-control-user" type="email" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address or username..." name="username" #username="ngModel" [(ngModel)]="user.username"></div>
                                <div class="form-group"><input required class="form-control form-control-user" type="password" id="exampleInputPassword" placeholder="Password" name="password" #password="ngModel" [(ngModel)]="user.password"></div>
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox small">
                                        <div class="form-check"><input class="form-check-input custom-control-input" type="checkbox" id="formCheck-1"><label class="form-check-label custom-control-label" for="formCheck-1">Remember Me</label></div>
                                    </div>
                                </div>
                                <button [disabled]="form.invalid" (click)="login()" class="btn btn-primary btn-block text-white btn-user" type="submit" href="/">Login</button>
                                <hr>
                                <button class="btn btn-primary btn-block text-white btn-google btn-user" role="button" (click)="loginWithGoogle()" ><i class="fab fa-google"></i>&nbsp; Login with Google</button>
                                
                                
                                <button  class="btn btn-secondary btn-block text-white btn-user" role="button"><i class="fab fa-github" ></i>&nbsp; Login with Github</button>
                                <hr>
                            </form>
                            <div class="text-center"><a class="small" href="forgot-password.html">Forgot Password?</a></div>
                            <div class="text-center"><a class="small" routerLink='/register'>Create an Account!</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>